name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: toru-oizumi
          template: classic

          base: header, repositories
          config_timezone: Asia/Tokyo
          
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: percentage
          plugin_languages_sections: most-used
          plugin_languages_limit: 8
          
          plugin_activity: yes
          plugin_activity_limit: 3
          plugin_activity_days: 30
          plugin_activity_filter: push, issue, pr, release
